/*GENERAL/////////////////////////////////////////////////////////*/
@import url('https://fontlibrary.org/face/hk-grotesk');
@import url('https://fontlibrary.org/face/hkgrotesklight');

.shortcut{
    width:30px;
    height: auto;
}

body {    
    font-family: 'HKGroteskLight', sans-serif;
    font-weight: normal;
    font-style: normal; 
    overflow-x: hidden;
}

h2{
    font-family: 'HKGroteskRegular', sans-serif;
	font-weight: bold;
    margin-top: 50px;
}

hr{
    border: 2px solid #E03E52;
    border-radius: 2px;
    margin-top: 0;
	margin-left: 0;
    margin-bottom: 30px;
	width: 50px;
}

.section-padding{
	margin-top: 80px; 
	justify-content: center;
	align-items: center;
}

/*NAVBAR/////////////////////////////////////////////////////////*/
.navbar{
    background-color: #E03E52;
    z-index: 2;
}

.navbar-brand img{
	height: 60px;	    
    width: auto;
}

.nav-link{
    color:white;
}

.nav-link:hover{
    font-weight: bold;
    color: #226168;
}
/*HERO/////////////////////////////////////////////////////////*/
.hero{
	height: 100vh;
	
	/* Flexbox things */
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	color: white;
	
	/* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("Hero1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;	
}

.hero h1{
    font-size: 5em;
    text-shadow:2px 2px #333;
    letter-spacing: 20px;
}

#oursolution img{    
    height: auto;
	width: auto;
}

/*PORTFOLIO/////////////////////////////////////////////////////////*/
.littleimg{
    cursor: pointer;
    transition: 0.3s;
    width: auto;
    height: 285px;
}

.littleimg:hover{
    opacity: 0.8;
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
    justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 5%;
}

.lightbox:target {
	outline: none;
	display: block;
}
/*MEMBERS/////////////////////////////////////////////////////////*/
.memberBoxImage {
    position: relative;	
}

.memberBoxImage img{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}

.memberImgFormal {
    z-index: 1;
}

.memberImgInformal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden; 
}

.memberBoxImage:hover .memberImgFormal {
  visibility: hidden;
}

.memberBoxImage:hover .memberImgInformal {
  visibility: visible;
}

.memberBoxDescription{
    margin-top: 210px;
	text-align: center;
}

.memberName{
    font-weight: bold;
}

/*SPONSORSHIP/////////////////////////////////////////////////////////*/
.sponsors img{
    width: auto;
    height: 40px;
    padding-left: auto;
    margin-top: 30px;
}

.sponsors{
    margin-top: 100px;
}

/*CONTACT US/////////////////////////////////////////////////////////*/
#contactus .btn{
    background-color: #226168;
    border: 0;
    border-radius: 20px;
}

/*AVISO LEGAL /////////////////////////////////////////////////////////*/
.page-footer-aviso{
    background-color: #fff;
	font-size: 9px;
	border-top: 1px solid #CFCFCF;
	bottom: 0;
	padding-top: 10px;
	margin-bottom: 0;
	text-align: left;
	justify-content: center;
}

/*FOOTER/////////////////////////////////////////////////////////*/
.page-footer{
    background-color: #000;
	color: #fff;
	bottom: 0;
	padding-top: 10px;
	margin-bottom: 0;
	font-size: 12px;
}

.page-footer a{
	padding-right: 8px;
}
